.TowersTooltip {
    padding: -8px;
}

.ItemTooltipCustom {
    max-width: 420px;
    /* padding: 8px; */
}
.ItemTooltipCustom > Panel {
    padding: 10px;
}
.row {
    flow-children: right;
}

.column {
    flow-children: down;
}

#AbilityImage {
    width: 70px;
    height: 50px;
    box-shadow: 0px 0px 9px #00000073;
}

.TooltipHeader {
    min-width: 100%;
    padding: 8px;
    padding-bottom: 2px;
}

.Description > Label {
    color: #6f7ea7;
    font-size: 16px;
    text-shadow: 0px 0px 6px #0000006e;
}


#Lore {
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #000000;
    width: 100%;
}

#Lore > Label {
    color: #565656;
    font-style: italic;
    font-size: 16px;
}
